.cre_banner{
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 55px 0 100px 0;
    @media #{$tab}{
        min-height: 536px;
    }
}
.cre_banner_wrapper{
    .title{
        margin-bottom: 60px;
        @media #{$mobile}{
            font-size: 36px;
            line-height: 45px;
            margin-bottom: 20px;
        }
        @media #{$tab_device}{
            font-size: 45px;
            line-height: 55px;
            margin-bottom: 30px;
        }
        @media #{$medium_device}{
            font-size: 62px;
            line-height: 73px;
            margin-bottom: 30px;
        }
        @media #{$big_screen}{
            font-size: 70px;
            line-height: 80px;
            margin-bottom: 40px;
        }
    }
}
.banner_filter_wrapper {
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba($color: #000000, $alpha: .1);
    z-index: 9;
    position: relative;
    padding: 0 0 0 15px;
    @media (min-width: 991px){
        margin-right: -293px;
        justify-content: space-between ;
    }
    @media #{$medium_device}{
        margin-right: -300px;
    }
    @media #{$xs_mobile}{
        flex-wrap: wrap;
    }
    .input_group_wrapper{
        flex: 25% 0 0;
        margin-right: 10px;
        @media #{$tab_device}{
            flex: 24% 0 0;
        }
        option, input{
            color: #034863;
            &::placeholder{
                color: #034863;
            }
        }

        &:first-child{
            background-color: #F2F6F7;
            padding: 15px;
            border-radius: 16px;
        }
        &:not(:first-child){
            padding-left: 10px;
            border-left: 1px solid rgba($color: #034863, $alpha: .10);
        }
        &:last-child{
            border-left: 0px solid transparent;
        }
        .group_icon{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .input_group{
            position: relative;
            border-radius: 16px;
            padding-left: 32px;
            display: flex;
            width: 100%;
            
        }
        .niceSelect{
            width: 100%;
        }
        .cu_btn.btn_3{
            white-space: nowrap;
            border-radius: 0 16px 16px 0;
            padding: 27px 28px;
        }
        .gj-textbox-md{
            border-bottom: 0px solid transparent;
        }
        .gj-datepicker-md [role=right-icon] {
            display: none;
        }
        
        .gj-datepicker.gj-datepicker-md.gj-unselectable {
            position: relative;
            width: 100%;
        }
        
        .gj-datepicker.gj-datepicker-md.gj-unselectable:after {
            border-bottom: 2px solid #034863;
            border-right: 2px solid #034863;
            content: '';
            display: block;
            height: 10px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 36%;
            -webkit-transform-origin: 66% 66%;
            -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 10px;
        }
        .nice-select .list {
            width: 100%;
            border-radius: 0;
        }
        .nice-select:after {
            border-bottom: 2px solid #034863;
            border-right: 2px solid #034863;
        }
    }
}
.cre_banner_img{
    @media #{$tab}{
        img{
            max-width: 300px;
        }
    }
}
@media #{$mobile}{
    .banner_filter_wrapper {
        flex-wrap: wrap;
    }
    .banner_filter_wrapper .input_group_wrapper {
        flex: 100% 0 0;
        padding: 11px !important;
        border-left: 0px solid transparent !important;
        border-bottom: 1px solid rgba(3, 72, 99, 0.1);
        margin: 0 !important;
    }
    
    form.banner_filter_wrapper {
        padding: 10px;
    }
    
    .banner_filter_wrapper .input_group_wrapper .cu_btn.btn_3 {
        padding: 15px 25px;
        border-radius: 16px;
        width: 100%;
    }
    
    .banner_filter_wrapper .input_group_wrapper .gj-textbox-md, .gj-datepicker {
        width: 100%;
        display: block;
    }
    
    .banner_filter_wrapper .input_group_wrapper:last-child, .banner_filter_wrapper .input_group_wrapper:first-child {
        border-bottom: 0px solid transparent;
    } 
}
.cre_banner_wrapper.style_02{
    &.my-40{
        margin: 40px 0;
    }
    .input_group_wrapper {
        margin-right: 10px;
        border: 0px solid transparent;
        background-color: #F2F6F7;
        padding: 17px 15px;
        border-radius: 16px;
        &:last-child{
            padding: 0;
            background-color: transparent;
        }
    }
   
    @media (min-width: 990.98px){
        .input_group_wrapper {
            flex: 27% 0 0;
        }
        .input_group_wrapper:last-child {
            flex: 13% 0 0;
            margin-right: 0;
        }
    }
    @media (min-width: 767.98px) and (max-width: 991px) {
        .input_group_wrapper {
            flex: 24% 0 0;
        }
        .input_group_wrapper:last-child {
            flex: 13% 0 0;
            margin-right: 0;
        }
    }
    @media (max-width: 767.98px){
        .input_group_wrapper {
            margin-bottom: 15px !important;
        }
    }
    .input_group_wrapper .niceSelect {
        border: 0px solid transparent;
        padding: 5px;
        width: 100%;
        background-color: transparent;
        height: auto;
        line-height: initial;
    }
    
}
.niceSelect{
    border: 0px solid transparent;
    padding: 0 38px 0 0;
    background-color: transparent;
    &:after{
        top: 42%;
    }
}
.search_filter {
    .nice-select {
        background-color: #F2F6F7;
        border: 0px solid transparent;
        border-radius: 10px;
        font-size: 16px;
        color: #034863;
    }
    
    .nice-select:after {
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        width: 8px;
        height: 8px;
    }
}   
// @media (min-width: 767.98px){
//     .banner_filter_wrapper .input_group_wrapper {
//         flex: 27% 0 0;
//         margin-right: 10px;
//     }
//     .banner_filter_wrapper .input_group_wrapper:last-child {
//         flex: 13% 0 0;
//         margin-right: 0;
//     }
// }
