.restaurants_thumb .tricker {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50px;
    display: inline-grid;
    place-content: center;
}
.restaurants_content{
    .sub_title{
        color: #030D11;
    }
}
